@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); 

:root {
  --color-black: black;
  --color-white: white;
  --color-grey-light: #FAFBFF;
  --color-grey-light-text: #B5B7C0;
  --color-grey-text-user: #757575;
  --color-grey-text: #292D32;
  --color-blue-light-text: #9197B3;
  --color-grey-line: #EEEEEE;
  --color-accent: #5932EA;
  --color-green-light: #16C098;
  --color-green-dark: #008767;
  --color-red-light: #FFC5C5;
  --color-red-dark: #DF0404;
}

ul { padding: 0;}
ul li { list-style-type: none; }

body {
  height: 100vh;
  background: var(--color-grey-light);
  color: var(--color-grey-text);
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}
.main {
  width: 100%;
  padding: 41px 95px 0 74px;
}
@media (max-width: 1200px) {
  .main {
      padding-left: 150px;
    }
}
@media (max-width: 768px) {
  .main {
      padding-left: 150px;
      padding-right: 40px;
    }
}
@media (max-width: 425px) {
  .main {
      padding-left: 70px;
      padding-right: 10px;
    }
}
.main__header {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 51px;
}
@media (max-width: 1440px) {
  .main__header {
      margin-bottom: 30px;
      font-size: 20px;
    }
}


* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-grey-light-text) var(--color-grey-light);
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--color-grey-light);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-light-text);
  border-radius: 20px;
  border: 3px solid var(--color-grey-light);
}
